<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="card">
    <div class="meta card-body card-header">
      {{user.username}} on {{format_date created_at}}
      
    </div>
    <div class="text card-body">
      {{comment_text}}
    </div>
    </div>
  </section>
  {{/each}}
</div>