<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label">Title</label>
      <input type="text" id="post-title" name="post-title" class="form-control overflow-auto"/>
    </div>
    <div class="mb-3">
      <label for="post-text" class="form-label">Text</label>
      <textarea id="post-text" name="post-text" class="form-control overflow-auto"/></textarea>
    </div>
    <button type="submit" class="btn btn-primary margin create-btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="post-list list-group list-group-numbered">
    {{#each posts as |post|}}
    <li class="list-group-item d-flex align-items-start">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-primary margin text-nowrap ">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>